.container {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    padding: 32px 20px 0 40px;
    justify-content: space-between;
}

.container button {
    margin: 10px auto 20px auto;
    padding: 10px 30px;
    min-width: 100px;
    font-family: inherit;
    appearance: none;
    border: 0;
    border-radius: 5px;
    background: #22417f;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
}

.container button:hover {
    background: #30549c;
    color: #fff;
    transition: .3s;
}

.container_item {
    display: flex;
    flex-direction: column;
    flex-basis: 235px;
    margin-right: 6px;
    padding: 20px 10px;
    border: 1px solid #c7c7c757;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: rgba(222, 219, 219, 0.47);
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    cursor: pointer;
    transition: .2s;
}

.container_item:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0,0,0,.2);
}

.container_item img {
    height: 300px;
    width: 200px;
    object-fit: cover;
    border-radius: 3px;
}

.container_item span {
    margin-top: 10px;
    text-align: center;
    flex-grow: 1;
    display: flex;
    align-items: center;
}

