.header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    height: 64px;
    background-color: #1f1f1f;
    color: #ffffff;
    font-size: 24px;
}
.header_content {
    flex-basis: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header_content a{
   color: #ffffff;
   text-decoration: none;
}

.header_content input {
    width: 500px;
    height: 35px;
    border-radius: 5px;
    padding: 3px 10px;
    border: none;
}