.footer {
    background-color: #0c0c0c;
    color: #565656;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    
}

.socialMenu {
    margin-bottom: 20px;
}

.socialMenu ul {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.socialMenu li {
    list-style: none;
}

.socialMenu a img {
    width: 30px;
    height: 30px;
}

.contentMenu ul{
    width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contentMenu li {
    list-style: none;
}

.contentMenu li a {
    text-decoration: none;
    color: rgba(170, 167, 167, 0.7);
    transition: .3s;
}

.contentMenu li a:hover{
    color: rgba(199, 197, 197, 0.9);
}